<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.min.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }
        html, body {
            padding: 0;
            margin: 0;
        }
        #app {
            height: 100vh;
            position: relative;
        }

        .container {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            border: 1px solid #ddd;
            left: 15%;
            top: 10%;
            bottom: 10%;
            right: 15%;
        }

        .left {
            width: 50%;
            height: 60%;
            border: 1px solid #ddd;
            padding: 40px;
        }

        .right {
            width: 50%;
            height: 60%;
            border: 1px solid #ddd;
        }

        .footer {
            height: 40%;
            width: 100%
        }

        .message-window{
            height: 100%;
        }

        .message-window textarea{
            height: 100%;
        }
    </style>
    <title>index</title>
</head>

<body>
<div id="app">
    <div class="container">
        <div class="left">
            <el-form ref="form" :model="form" :rules="rules" label-width="100px">
                <el-form-item label="Who">
                    <el-input v-model="form.name" placeholder="谁说话"></el-input>
                </el-form-item>

                <el-form-item label="Period(Sec)" type="number">
                    <el-input v-model="form.time" placeholder="多少秒说一次"></el-input>
                </el-form-item>
                <el-form-item label="What">
                    <el-input v-model="form.out" placeholder="说啥子">
                    </el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm">Create Now</el-button>
                    <el-button @click="resetForm">Reset</el-button>
                </el-form-item>
            </el-form>
        </div>


        <div class="right">
            <el-table
                    :data="tableData"
                    stripe
                    height = 100%>
                <el-table-column
                        prop="name"
                        label="JobName"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="status"
                        label="JobStatus"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="success"
                        label="Success/Total">
                </el-table-column>
            </el-table>
        </div>

        <div class="footer">

            <el-input
                    type="textarea"
                    class="message-window"
                    placeholder="请输入内容"
                    disabled=true
                    v-model="textarea"
                    >
            </el-input>
        </div>
    </div>
</div>
<script>


    var Main = {
        data() {
            var checkTime = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error("time can't be null"));
                }
                setTimeout(() => {
                    if (!Number.isInteger(value)) {
                        callback(new Error('please input int value'));
                    } else {
                        if (value < 1) {
                            callback(new Error('max bigger than 1'));
                        } else {
                            callback();
                        }
                    }
                }, 1000);
            };
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error("can't be null"));
                } else {
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error("can't be null"));
                }else{
                    callback();
                }
            };
            return {
                rules: {
                    name: [
                        { validator: validatePass, trigger: 'blur' }
                    ],
                    out: [
                        { validator: validatePass2, trigger: 'blur' }
                    ],
                    time: [
                        { validator: checkTime, trigger: 'blur' }
                    ]
                },
                form: {
                    name: '',
                    out: '',
                    time: "",
                },
                textarea: "hello\n world",
                tableData: Array(10).fill({
                    name: '2016-05-02',
                    status: '王小虎',
                    success: '上海市普陀区金沙江路 1518 弄'
                }),
            };
        },
        methods: {
            submitForm(form) {
                //官网 this.$refs[ruleForm].validate();
                //在实际使用中，会报错。validate未定义
                //
                //使用this.$refs.ruleForm.validate(); 成功。
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
                fetch("127.0.0.1:8000/job", {
                    body: JSON.stringify(job),
                    method: "POST",
                    headers: {'Content-Type' : 'application/json'}
                }).then(()=>{
                    window.alert("Create success")
                })
            },
            resetForm(formName) {
                this.$nextTick(function() {
                    this.$refs[formName].resetFields();
                })
            },
            initWebSocket(){
                const wsuri="ws://127.0.0.1:8000/echo";
                this.
            }

        }
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
</body>
